body{
    background-color: yellow;
    margin: 0px;
}
#ret{
    width: 100vw;
    height: 15vh;
    border: 0px solid;
    background-color: pink;
}
#ret2{
    width: 10vw;
    height: 75vh;
    border: 0px solid;
    background-color: rgb(41, 93, 237);
}

#ret3{
    width: 100vw;
    height: 10vh;
    border: 0px solid;
    background-color: rgb(224, 148, 7);
    
}
#ret4{
    width: 10vw;
    height: 74.8vh;
    border: 1px solid;
    border-color: rgb(41, 93, 237);
    background-color: rgb(41, 93, 237);
    position: absolute;
    right: 0%;
    top: 15%;
}
#qd1{
    width: 170px;
    height: 170px;
    border: 1px solid;
    background-color: white;
    position: absolute;
    top: 40%;
    right: 35%;
}
#qd2{
    width: 170px;
    height: 170px;
    border: 1px solid;
    background-color: white;
    position: absolute;
    top: 40%;
    right: 55%;

}
#boca{
    width: 240px;
    height: 100px;
    border: 1px solid;
    background-color: brown;
    position: absolute;
    top: 67%;
    right: 43%;
}
#somb1{
    width: 200px;
    height: 70px;
    border: 1px solid;
    background-color: black;
    position: absolute;
    top: 29%;
    right: 57%;
}
#somb2{
    width: 200px;
    height: 70px;
    border: 1px solid;
    background-color: black;
    position: absolute;
    top: 29%;
    right: 32%;
}
#olho1{
    width: 70px;
    height: 70px;
    border: 0px solid;
    background-color: black;
    position: absolute;
    top: 47%;
    left: 40%;
}
#olho2{
    width: 70px;
    height: 70px;
    border: 0px solid;
    background-color: black;
    position: absolute;
    top: 47%;
    right: 39%;
}